name: Run tests in bobapp-back

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    defaults: 
      run:
        working-directory: ./back

    steps:
      # Récupération du dépôt GitHub
      - name: Checkout repository
        uses: actions/checkout@v4

      # Connexion à DockerHub (si l'image est privée)
      - name: Log into DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Téléchargement de l'image Docker générée
      # - name: Pull Docker Image
      #   run: docker pull ${{ secrets.DOCKER_USERNAME }}/bobapp-back:latest

      # Lancement des tests Maven
      - name: Build with Maven
        run: mvn clean compile --file pom.xml

       # Génération du rapport JaCoCo
      - name: Generate JaCoCo Report
        run: mvn test --file pom.xml

      # Archive le rapport de couverture JaCoCo
      - name: Config JaCoCo Coverage Report
        uses: madrapps/jacoco-report@v1.7.1
        with:
          paths: |
            ${{ github.workspace }}/back/target/site/jacoco/jacoco.xml
          token: ${{ secrets.DOCKER_GITHUB_TOKEN }}
          title: Code Coverage
          debug-mode: false

      # Affiche le résultat du code coverage
      - run: echo "Code coverage ${{ steps.jacoco.outputs.coverage-overall }}"

      # Commit le rapport JaCoCo
      - name: Commit Jacoco Code Coverage Report
        run: |
          git config --global user.email "julien.pelissier8@orange.fr"
          git config --global user.name "ZaeRon007"
          git fetch
          git checkout features
          git pull origin features
          git add target/site
          git commit -m "Addition of JaCoCo code coverage report"
          git push origin features
      - run: echo "Mvn Test's status is ${{ job.status }}."